<div id="navigate">
	<!-- START NAV -->
	<div id="nav">&nbsp;</div>
	<!-- START LINKS -->
	{% capture active_url %}
		{% if template == "index" %}
		  /
		{% elsif template == "collection" %}
		  /collections/{{ collection.handle }}
		{% elsif template == "product" %}
		  {% if collection %}
		    /collections/{{ collection.handle }}
		  {% endif %}
		    /products/{{ product.handle }}
		{% elsif template == "page" %}
		  /pages/{{ page.handle }}
		{% elsif template == "blog" %}
		  /blogs/{{ blog.handle }}
		{% elsif template == "cart" %}
		  /cart
		{% elsif template == "search" %}
		  /search
		{% endif %}
	{% endcapture %}
	<ul id="links">
	{% for link in linklists.main-menu.links limit: 6 %}
		<li class="link-{{ forloop.index }}"><a href="{{ link.url }}"{% if link.url == active_url %} class="active"{% endif %}>{{ link.title | escape }}</a>
			<div id="subnav">
        {% if link.title == "Snowboard" %}
				<ul>
          <li><b>Equipment</b></li>
    		  {% for link in linklists.snowboard.links %}
  				<li><a href="{{ link.url }}"{% if link.url == active_url %} class="active"{% endif %}>{{ link.title | escape }}</a>
    			{% endfor %}
				</ul>
				<ul>
          <li><b>Clothing</b></li>
    		  {% for link in linklists.snowboard-clothing.links %}
  				<li><a href="{{ link.url }}"{% if link.url == active_url %} class="active"{% endif %}>{{ link.title | escape }}</a>
    			{% endfor %}
				</ul>		
				<ul>
          <li><b>Accessories</b></li>
    		  {% for link in linklists.snowboard-accessories.links %}
  				<li><a href="{{ link.url }}"{% if link.url == active_url %} class="active"{% endif %}>{{ link.title | escape }}</a>
    			{% endfor %}
				</ul>					
  			{% elsif link.title == "Ski" %}
				<ul>
          <li><b>Equipment</b></li>
    		  {% for link in linklists.ski.links %}
  				<li><a href="{{ link.url }}"{% if link.url == active_url %} class="active"{% endif %}>{{ link.title | escape }}</a>
    			{% endfor %}
				</ul>					
				<ul>
          <li><b>Clothing</b></li>
    		  {% for link in linklists.ski-clothing.links %}
  				<li><a href="{{ link.url }}"{% if link.url == active_url %} class="active"{% endif %}>{{ link.title | escape }}</a>
    			{% endfor %}
				</ul>					
				<ul>
          <li><b>Accessories</b></li>
    		  {% for link in linklists.ski-accessories.links %}
  				<li><a href="{{ link.url }}"{% if link.url == active_url %} class="active"{% endif %}>{{ link.title | escape }}</a>
    			{% endfor %}
				</ul>					
  			{% elsif link.title == "Clothing" %}
				<ul>
          <li><b>Mountain</b></li>
    		  {% for link in linklists.clothing.links %}
  				<li><a href="{{ link.url }}"{% if link.url == active_url %} class="active"{% endif %}>{{ link.title | escape }}</a>
    			{% endfor %}
				</ul>					
				<ul>
          <li><b>Street</b></li>
    		  {% for link in linklists.street-clothing.links %}
  				<li><a href="{{ link.url }}"{% if link.url == active_url %} class="active"{% endif %}>{{ link.title | escape }}</a>
    			{% endfor %}
				</ul>					
  			{% endif %}
			</div>
		</li>
		{% endfor %}
	</ul>
	<!-- END LINKS -->
	<!-- START GOCART -->
	<div id="gocart">
		<p><a href="/cart"{% if template == "cart" %} class="active"{% endif %}>{{ cart.item_count }} {{ cart.item_count | pluralize: "Item", "Items" }}</a></p>
	</div>
	<!-- END GOCART -->
	<!-- END NAV -->
</div>
